@import "../../nodebb-theme-vanilla/less/style";

//Typography
//---------------------
@font-family: 'Lato', Helvetica, Arial, sans-serif;
@font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}

body {
	background: #f8f8f8 url('http://www.univunix.com/img/pw_maze_white.png') repeat center top fixed;
	font-family: @font-family;
	font-size: 14px;
  .navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: @font-family;
}

//Sprite
//-----------------------
.sprite{
  background: url('http://www.univunix.com/img/sprites.png') no-repeat top left;
  &-brand{
    background-position: 0 0;
    width: 156px;
    height: 40px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;      
  }
  &-cc{
    background-position: 0 -70px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
    padding: 10px;
  }
  &-html5{
    background-position: 0 -287px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
    padding: 10px;
  }
  &-css3{
    background-position: 0 -124px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
    padding: 10px;
  }
  &-nodebb{
    background-position: 0 -1041px
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px;
    padding: 10px;
  }
}

.alt-logins {
	li {
		i {
			-webkit-transition: color 100ms linear;
			   -moz-transition: color 100ms linear;
			    -ms-transition: color 100ms linear;
			     -o-transition: color 100ms linear;
			        transition: color 100ms linear;

			&.icon-twitter-sign:hover {
				color: #4099FF;
			}

			&.icon-facebook-sign:hover {
				color: #3b5999;
			}

			&.icon-google-plus-sign:hover {
				color: #d34836;
			}
		}
	}
}

#search-form .btn-link {
	color: white;
}

.well {
	box-shadow: none;
}